.maincontainer {
  width: 35vw;
  height: 92vh;
  margin: auto;
  margin-top: 2.5%;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.google,
.gmail,
.signin,
.createaccount {
  padding: 10px;
}

.google {
  font-size: x-large;
  padding-top: 10%;
}

.signin {
  font-size: x-large;
  font: bolder;
}

.gmail {
  margin-bottom: 20px;
}
.createaccount {
  display: flex;
  justify-content: space-between;
  font-size: bold;
  margin-top: -7%;
}

.paragraph {
  margin-top: 10%;
  margin-bottom: 10%;
}

.bothinputfield {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:100%;
}

.passwordNew {
  margin-top: 5%;
}

.textfield1,
.textfield2 {
  width: 90%;
}

.learn,.createaccount,.google{
    color: blue;
    font-size: bold;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
 .emailorphone,.passwordNew{
      
      width: 100%;
     
  }

  .maincontainer{
    width: 80vw;
    border: none;
     
  }


}
  @media screen and (min-width: 481px) and (max-width: 768px) {

    .maincontainer{
      width: 80vw;
      border: none;

    
}
    
    .emailorphone,.passwordNew{
        width: 100%;
    }

    
.bothinputfield{
  width:100%
}

   
  }

@media screen and (min-width: 769px) and (max-width: 1024px) {
    
.maincontainer{
  width: 57vw;
}


.emailorphone,.passwordNew{
  width: 100%;
}

}
