* {
  margin: 0;
}

.takenote {
  margin-top: 30px;
  width: 48vw;
  height: 7vh;
  display: flex;
  margin-left: 35%;
  border-radius: 10px;
  border: 1px solid grey;
}

.text2 {
  width: 100vw;
  padding: 15px;
  background: transparent;
  border: none transparent;
  font-size: medium;
  font: bold;
  outline: none;
  display: flex;
  justify-content: end;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  color: grey;
  margin-left: 90px;
}
