.takenotetwoo {
  width: 48vw;
  height: 6vh;
  margin-left: 35%;
  margin-top: 20px;
  padding-left: 15px;
  margin-right: 100vw;
  display: flex;
  flex-direction: column;
}

.text3 {
  height: 6vh;
  width: 48vw;
  border-radius: 5px;
  background: transparent;
  border: none transparent;
  font-size: medium;
  font: bold;
  outline: none;
}

.subcontainer {
  width: 49vw;
  border-radius: 10px;
  outline: none;
  font-size: large;
  font: bold;
  display: flex;
  color: gray;
  justify-content: space-around;
  align-items: end;
}

